{% macro badge(label, level, date = null) %}
	{% if hasMessage(label) %}
		{% set label = Message(label) %}
	{% endif %}

	{% if level == 'bronze' %}
		{% set color = '#B8860B' %}
	{% elseif level == 'silver' %}
		{% set color = '#C0C0C0' %}
	{% else %}
		{% set color = '#FFD700' %}
	{% endif %}
	<a href="{{iUrl("badges") }}"><span class="badge wstooltip" title="{{ Message("badge_level_" ~ level) }}{% if date != null %} ({{FormattedDate(date, i18n) }}){% endif %}" style="background-color: {{ color }}">{{ label }}</span></a>
{% endmacro %}