<!DOCTYPE html>
<html>
	<head>
		<title>{% block browser_title %}{{ block("page_title") }} - {{ Config("projectname") }}{% endblock %}</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{% if Request("id")!=null %}
			{% set url =iUrl(null, "id=" ~ Request("id"), TRUE) %}
		{% else %}
			{% set url =iUrl(null, null, TRUE) %}
		{% endif %}
		<link rel="canonical" href="{{ url }}"/>

		{% for cssSource in skin.getCssSources() %}
		<link href="{{ cssSource }}" media="all" rel="stylesheet" type="text/css" />
		{% endfor %}
		{% if cssReferences is defined %}
			{% for cssSource in cssReferences %}
			<link href="{{ Config("context_root") }}/css/{{ cssSource }}" media="all" rel="stylesheet" type="text/css" />
			{% endfor %}
		{% endif %}

		<link rel="shortcut icon" type="image/x-icon" href="{{ Config("context_root") }}/favicon.ico" />

		{% if Config("facebook_appid") %}
		<meta property="fb:app_id" content="{{ Config("facebook_appid") }}"/>
		{% endif %}
		{{ Config("head_code")|raw }}
	</head>
	<body>

		{% block navigation %}
		{% include 'navigationbar.twig' %}
		{% endblock %}

		<div class="container">

			{% block page_header %}
			{% endblock %}

			{% block page_columns %}
			<div class="row">
				<div class="span8" id="contentArea">
					<div class="box">

						{% include 'breadcrumb.twig' %}

						<div class="page-header">
						<h1>{{ block("page_title") }}</h1>
						</div>

						<div id="messages">
						{% block messages_block %}
						{{ viewHandler.renderBlock("messagesblock")|raw }}
						{% endblock %}
						</div>

						<div id="pagecontent">
						{% if blocks.content_top is defined %}
							{% for uiBlock in blocks.content_top %}
								<div id="{{ uiBlock.id }}_block">
								{{ viewHandler.renderBlock(uiBlock.id, uiBlock)|raw }}
								</div>
							{% endfor %}
						{% endif %}


						{{ block("page_content") }}

						{% if blocks.content_bottom is defined %}
							{% for uiBlock in blocks.content_bottom %}
								<div id="{{ uiBlock.id }}_block">
								{{ viewHandler.renderBlock(uiBlock.id, uiBlock)|raw }}
								</div>
							{% endfor %}
						{% endif %}
						</div>

					</div>
				</div>
				<div class="span4">

					{% if blocks.sidebar is defined %}
						{% for uiBlock in blocks.sidebar %}
							<div id="{{ uiBlock.id }}_block">
							{{ viewHandler.renderBlock(uiBlock.id, uiBlock)|raw }}
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			{% endblock %}

			<hr/>
			<footer>
	        	<p><a href="{{iUrl("termsandconditions") }}">{{Message("termsandconditions_navlabel") }}</a>
	        	{% if Config("privacypolicy_url")|length > 0 %}| <a href="{{ Config("privacypolicy_url") }}">{{Message("privacypolicy_navlabel") }}</a>{% endif %}
	        	| <a href="{{iUrl("imprint") }}">{{Message("imprint_navlabel") }}</a>
	        	| Powered by <a href="https://github.com/owsPro/OWS_for_All_PHP" target="_blank">OWS_for_All_PHP</a>
	        	| <i class="icon-time"></i> {{Datetime() }}
	        	</p>
			</footer>

		</div>

		<div id="ajaxLoaderPage"></div>

		{% for jsSource in skin.getJavaScriptSources() %}
		<script src="{{ jsSource }}" ></script>
		{% endfor %}
		{% if scriptReferences is defined %}
			{% for jsSource in scriptReferences %}
			<script src="{{ Config("context_root") }}/js/{{ jsSource }}" ></script>
			{% endfor %}
		{% endif %}

		<!--[if lt IE 9]>
		<script src="js/extcanvas/excanvas.compiled.js"></script>
		<![endif]-->
	</body>
</html>
