<h4>{{ Message("nationalmatches_nextmatch_title") }}</h4>

<p><em>{{ env.getFormattedDatetime(match.date) }} | {{ Message("option_" ~ match.type) }}</em></p>
<p><strong><a href="{{ env.getInternalUrl("team", "id=" ~ match.home_id) }}">{{ match.home_team }}</a> 
	- 
	<a href="{{ env.getInternalUrl("team", "id=" ~ match.guest_id) }}">{{ match.guest_team }}</a>
	</strong></p>
<p><a href="{{ env.getInternalUrl("match", "id=" ~ match.id) }}" class="btn">{{ Message("match_navlabel") }}</a>
<a href="{{ env.getInternalUrl("formation", "nationalteam=1&id=" ~ match.id) }}" class="btn">{{ Message("formation_navlabel") }}</a></p>
