<h3>{{ league_name }}</h3>

<form class="form-horizontal">
	<div class="control-group">
  		<label class="control-label" for="seasonid">{{ Message("entity_season") }}</label>
  		<div class="controls">
	  		<select name="seasonid" id="seasonid" required>
	  			<option></option>
	  			{% for season in seasons %}
	  				<option value="{{ season.id }}"{% if Request("seasonid") == season.id %} selected{% endif %}>{{ season.name }}</option>
	  			{% endfor %}
	  		</select>
  		</div>
  	</div>

  	{% if Request("seasonid") > 0 %}
	<div class="control-group">
  		<label class="control-label" for="matchday">{{ Message("entity_match_spieltag") }}</label>
  		<div class="controls">
	  		<input id="matchday" name="matchday" type="number" value="{{ Request("matchday") }}" required/>
  		</div>
  	</div>
  	{% endif %}

  	<div class="control-group">
  		<div class="controls">
	  		<button type="submit" class="btn btn-primary ajaxSubmit"
		data-ajaxtarget="season-picker_block" data-ajaxblock="season-picker">{{ Message("button_display") }}</button>

	  		{% if currentMatchDay > 0 %}
	  			<a href="#" class="btn ajaxLink"
	data-ajaxtarget="season-picker_block" data-ajaxblock="season-picker"
	data-ajaxquerystr="leagueid={{ Request("leagueid") }}&seasonid={{ Request("seasonid") }}&matchday={{ currentMatchDay }}">{{ Message("seasonpicker_currentmachday") }}</a>
	  		{% endif %}

	  	</div>
  	</div>
  	<input type="hidden" name="page" value="results" />
  	<input type="hidden" name="leagueid" value="{{ Request("leagueid") }}" />
</form>

<ul class="pager">
	{% if Request("matchday") > 1 %}
  <li class="previous">
    <a href="#" class="ajaxLink"
	data-ajaxtarget="season-picker_block" data-ajaxblock="season-picker"
	data-ajaxquerystr="leagueid={{ Request("leagueid") }}&seasonid={{ Request("seasonid") }}&matchday={{ Request("matchday") - 1 }}">&larr; {{ Message("seasonpicker_previous") }}</a>
  </li>
  {% endif %}

  {% if Request("matchday") < maxMatchDay %}
  <li class="next">
    <a href="#" class="ajaxLink"
	data-ajaxtarget="season-picker_block" data-ajaxblock="season-picker"
	data-ajaxquerystr="leagueid={{ Request("leagueid") }}&seasonid={{ Request("seasonid") }}&matchday={{ Request("matchday") + 1 }}">{{ Message("seasonpicker_next") }} &rarr;</a>
  </li>
  {% endif %}
</ul>

{% if Request("matchday") > 0 %}
	<h4>{{ Message("entity_match_spieltag") }}: {{ Request("matchday") }}</h4>
	<p><a href="{{iUrl("teamoftheday", "leagueid=" ~ Request("leagueid") ~ "&seasonid=" ~ Request("seasonid") ~ "&matchday=" ~ Request("matchday")) }}" class="btn btn-small"><i class="icon-heart-empty"></i> {{ Message("teamoftheday_navlabel") }}</a></p>
{% endif %}
<span id="results-list_block">{{ viewHandler.renderBlock("results-list")|raw }}</span>