
{% import "macros/messagebox.twig" as messagebox %}

{% if leagues|length == 0 and cups|length == 0 %}
	{{ messagebox.box("", Message("team_details_noleaguevictories"), "info") }}
{% else %}

	{% for leagueName,seasons in leagues %}
		<h4>{{ leagueName }}</h4>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>{{ Message("entity_season") }}</th>
					<th>{{ Message("entity_users") }}</th>
					<th>{{ Message("leaguetable_head_place") }}</th>
				</tr>
			</thead>
			<tbody>
			{% for season in seasons %}
				<tr>
					<td>{{ season.season_name }}</td>
					<td><a href="{{ env.getInternalUrl("user", "id=" ~ season.user_id) }}">{{ season.user_name }}</a></td>
					<td>{{ season.season_rank }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endfor %}
	
	{% if cups|length > 0 %}
		<h4>{{ Message("entity_cup") }}</h4>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>{{ Message("entity_cup") }}</th>
					<th>{{ Message("entity_users") }}</th>
					<th>{{ Message("entity_cup_rounds") }}</th>
				</tr>
			</thead>
			<tbody>
			{% for cup in cups %}
				<tr>
					<td>{{ cup.cup_name }}</td>
					<td><a href="{{ env.getInternalUrl("user", "id=" ~ cup.user_id) }}">{{ cup.user_name }}</a></td>
					<td>{{ cup.cup_round_name }}<br>{{ env.getFormattedDate(cup.achievement_date) }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}

{% endif %}
