{% import "macros/statisticelements.twig" as statisticelements %}

{% if players|length == 0 %}
	<p>{{ Message("youthteam_no_players_in_team") }}</p>
{% else %}

	<table class="table table-striped">
		<thead>
			<tr>
				<th><abbr title="{{ Message("playertable_head_position") }}">{{ Message("playertable_head_position_abbr") }}</abbr></th>
				<th>{{ Message("playertable_head_name") }}</th>
				<th>{{ Message("playertable_head_age") }}</th>
				<th>{{ Message("playertable_head_strength") }}</th>
				<th>{{ Message("entity_youthplayer_transfer_fee") }}</th>
			</tr>
		</thead>
		<tbody>

		{% for player in players %}

			{% if player.position == "Torwart" %}
				{% set positionId = "goaly" %}
			{% elseif player.position == "Abwehr" %}
				{% set positionId = "defense" %}
			{% elseif player.position == "Mittelfeld" %}
				{% set positionId = "midfield" %}
			{% else %}
				{% set positionId = "striker" %}
			{% endif %}


			<tr{% if player.transfer_fee %} class="info"{% endif %}>
				<td style="text-align: center">
					<img src="{{ skin.getImage("icons/playertype_" ~ positionId ~ ".png") }}"
					alt="{{ Message("player_position_" ~ positionId) }}" title="{{ Message("player_position_" ~ positionId) }}" />
					<br>
					<small>{{ Message("option_" ~ player.position) }}</small>
				</td>
				<td>{{ player.firstname }} {{ player.lastname }}</td>
				<td>{{ player.age }}</td>
				<td>{{ statisticelements.progressbar(player.strength, "noBottomMargin") }}</td>
				<td>
					{% if player.transfer_fee == 0 %}
						-
					{% else %}
						<p>{{ player.transfer_fee|number_format(0, ',', ' ') }} {{ Config("game_currency") }}</p>

						{% if env.user.clubId > 0 and player.team_id != env.user.clubId %}
							<a href="{{iUrl("youthplayer-buy", "id=" ~ player.id) }}" class="btn btn-small"><i class="icon-shopping-cart"></i> {{ Message("youthteam_action_buy") }}</a>
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}

		</tbody>
	</table>

{% endif %}