{% extends "base.twig" %}

{% import "macros/formelements.twig" as formelements %}

{% block page_title %}
{{ Message("absence_navlabel") }}
{% endblock %}

{% block page_content %}

	<div class="well">{{ Message("absence_intro") }}</div>

	{% if currentAbsence %}
		<div class="well">
			<p>{{ Message("absence_reportinfo")|format(env.getFormattedDate(currentAbsence.to_date), deputyName|e)|raw }}</p>
			<p><a href="{{ env.getInternalActionUrl("return-from-absence") }}" class="btn"><i class="icon-signin"></i> {{ Message("absence_return_button") }}</a></p>
		</div>
	{% else %}

		<form class="form-horizontal" method="post">

			{{ formelements.textfield('days', Message('absence_label_days'), Request("days"), true, validationMsg, 'number', Message('absence_label_days_help')) }}

			{{ formelements.autocomplete("deputynick", Message("entity_userabsence_deputy_id"), Request('deputynick'), true, validationMsg, "usernick-search") }}

			<div class="form-actions">
				<button type="submit" class="btn btn-primary">{{ Message('button_submit') }}</button>
			</div>
			<input type="hidden" name="page" value="absence"/>
			<input type="hidden" name="action" value="report-absence"/>

		</form>

	{% endif %}

{% endblock %}