{% extends "base.twig" %}
{% import "macros/formelements.twig" as formelements %}

{% block page_title %}
	{{ Message("borrow-player_navlabel") }}:
	{% if player.player_pseudonym|length > 0  %}
		{{ player.player_pseudonym }}
	{% else %}
		{{ player.player_firstname ~ " " ~ player.player_lastname }}
	{% endif %}
{% endblock %}

{% block page_content %}

<dl class="dl-horizontal">

  <dt>{{ Message("entity_player_marktwert") }}</dt>
  <dd>{{ player.player_marketvalue|number_format(0, ',', ' ')  }} {{ Config("game_currency") }}</dd>

  <dt>{{ Message("entity_player_vertrag_gehalt") }}</dt>
  <dd>{{ player.player_contract_salary|number_format(0, ',', ' ')  }} {{ Config("game_currency") }}</dd>

  <dt>{{ Message("entity_player_vertrag_torpraemie") }}</dt>
  <dd>{{ player.player_contract_goalbonus|number_format(0, ',', ' ')  }} {{ Config("game_currency") }}</dd>

  <dt>{{ Message("entity_player_vertrag_spiele") }}</dt>
  <dd>{{ player.player_contract_matches  }} {{ Message("player_details_unit_matches") }}</dd>
</dl>

<p style="margin-top: 30px"><i class="icon-arrow-right"></i> <a href="{{ env.getInternalUrl("player", "id=" ~ player.player_id) }}">{{ Message("player_navlabel") }}</a></p>

<p>{{ Message("borrow-player_intro") }}</p>

<form class="form-horizontal" method="post">

	<div class="control-group">
		<label class="control-label">
			<strong>{{ Message("entity_player_lending_fee") }}</strong>
		</label>
		<div class="controls">
			<span class="help-inline">{{ player.lending_fee|number_format(0, ',', ' ')  }} {{ Config("game_currency") }}</span>
		</div>
	</div>

	{{ formelements.textfield('matches', Message('entity_player_lending_matches'),Request('matches'), true, validationMsg, 'number',
		Message("lending_matches_durationhelp")|format(Config("lending_matches_min"), Config("lending_matches_max"))) }}

	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{{ Message('lending_player_hire_button') }}</button>
		<a href="{{ env.getInternalUrl("myteam") }}" class="btn">{{ Message('button_cancel') }}</a>
	</div>
	<input type="hidden" name="page" value="borrow-player"/>
	<input type="hidden" name="id" value="{{ Request('id') }}"/>
	<input type="hidden" name="action" value="borrow-player"/>
</form>
{% endblock %}