{% extends "base.twig" %}
{% import "macros/formelements.twig" as formelements %}

{% block page_title %}
{{ Message("change-profile-picture_navlabel") }}
{% endblock %}

{% block page_content %}
	<p>{{ Message("change-profile-picture_intro", Config("user_picture_upload_maxsize_kb"))|raw }}</p>

	{% if Config("user_picture_upload_enabled") %}
		<form class="form-horizontal" method="post" enctype="multipart/form-data">
			<input type="hidden" name="MAX_FILE_SIZE" value="{{ Config("user_picture_upload_maxsize_kb") * 1024 }}" />

			{{ formelements.textfield('picture', Message('entity_users_picture'), Request('picture'), true, validationMsg, 'file') }}

			<div class="form-actions">
				<button type="submit" class="btn btn-primary">{{ Message('button_save') }}</button>
				<a href="{{iUrl("user", "id=" ~ env.user.id) }}" class="btn">{{ Message('button_cancel') }}</a>
			</div>
			<input type="hidden" name="page" value="change-profile-picture"/>
			<input type="hidden" name="action" value="upload-profile-picture"/>
		</form>
	{% endif %}
{% endblock %}