{% import "macros/formelements.twig" as formelements %}

{% extends "base.twig" %}

{% block page_title %}
{{ Message("enter-username_navlabel") }}
{% endblock %}

{% block page_content %}
<p>{{ Message("enter-username_intro") }}</p>

<form class="form-horizontal" method="post">

	{{ formelements.textfield('nick', Message('entity_users_nick'), Request('nick'), true, validationMsg, 'text') }}

	{{ formelements.checkbox('termsandconditions', Message('termsandconditions_accept', env.getInternalUrl("termsandconditions")), Request("termsandconditions"), true, validationMsg) }}

	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{{ Message('button_save') }}</button>
	</div>
	<input type="hidden" name="page" value="enter-username"/>
	<input type="hidden" name="action" value="save-username"/>
</form>

{% endblock %}