{% extends "base.twig" %}

{% block page_title %}
{{ Message("leagues_title") }}
{% endblock %}

{% block page_content %}

<form class="form-inline" method="post">

	<label class="control-label" for="country">{{ Message("entity_league_land") }}</label> 
	<select id="country" name="country">
		<option></option>
	{% for country in countries %}
		<option value="{{ country.name }}">{{ country.name }} ({{ country.noOfLeagues }})</option>
	{% endfor %}
	</select>

	<button type="submit" class="btn btn-primary ajaxSubmit" 
		data-ajaxtarget="leagues-selection" data-ajaxblock="leagues-selection">{{ Message('button_display') }}</button>

	<input type="hidden" name="page" value="leagues" />
</form>

<div id="leagues-selection"></div>
{% endblock %}
