{% import "macros/formelements.twig" as formelements %}

{% extends "base.twig" %}

{% block page_title %}
{{ Message("login_title") }}
{% endblock %}

{% block page_content %}
<form class="form-horizontal" method="post">


	{%  if Config("login_type") == "email" %}
    {{ formelements.textfield('loginstr', Message('entity_users_email'), env.getRequestParameter('loginstr'), true, validationMsg, 'email') }}
 	{% else %}
 	{{ formelements.textfield('loginstr', Message('entity_users_nick'), env.getRequestParameter('loginstr'), true, validationMsg) }}
 	{% endif %}

	{{ formelements.textfield('loginpassword', Message('entity_users_passwort'), '', true, validationMsg, 'password') }}
	
	{{ formelements.checkbox('rememberme', Message('formlogin_option_rememberme'), env.getRequestParameter('rememberme')) }}
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{{ Message('formlogin_submit_button') }}</button>
	</div>
	<input type="hidden" name="page" value="login"/>
	<input type="hidden" name="action" value="login"/>
</form>

{% if Config("allow_userregistration") %}
	<p><i class="icon-arrow-right"></i> <a href="{{ env.getInternalUrl("register") }}">{{ Message('formlogin_link_register') }}</a></p>
{% endif %}

{% if Config("login_allow_sendingpassword") %}
	<p><i class="icon-arrow-right"></i> <a href="{{ env.getInternalUrl("forgot-password") }}">{{ Message('formlogin_link_forgot_password') }}</a></p>
{% endif %}
{% endblock %}
