
{% extends "base.twig" %}

{% import "macros/playerlists.twig" as playerlists %}

{% block page_title %}
{{ Message("myteam_title") }}
{% endblock %}

{% block page_content %}

{% if players is defined and players|length > 0 %}

	<table class="table table-striped">
		<thead>
			<tr>
				<th><abbr title="{{ Message("playertable_head_position") }}">{{ Message("playertable_head_position_abbr") }}</abbr></th>
				<th>{{ Message("playertable_head_name") }}</th>
				
				{% if Config("hide_strength_attributes") != "1" %}
					<th>{{ Message("playertable_head_strength") }}</th>
				{% endif %}
				
				<th>{{ Message("playertable_head_age") }}</th>
				<th>{{ Message("entity_player_vertrag_gehalt") }}</th>
				<th><abbr title="{{ Message("entity_player_vertrag_spiele") }}">{{ Message("playertable_head_matches_abbr") }}</abbr></th>
			</tr>
		</thead>
		<tbody>
			{% set salarySum = 0 %}
			{% for player in players %}
			{% set salarySum = salarySum + player.contract_salary %}
			<tr{% if player.contract_matches < 10 %} class="error"{% endif %}>
				<td style="text-align: center"><img src="{{ skin.getImage("icons/playertype_" ~ player.position ~ ".png") }}"
					alt="{{ Message("player_position_" ~ player.position) }}" title="{{ Message("player_position_" ~ player.position) }}" />
					{% if (player.position_main|length > 0) %}
					<p title="{{ Message("option_" ~ player.position_main) }}">{{ Message("player_mainposition_" ~ player.position_main) }}</p>
					{% endif %}
				</td>
				<td><p><a href="{{ env.getInternalUrl("player", "id=" ~ player.id) }}">{{ player.firstname }} {% if player.pseudonym|length > 0 %}"{{ player.pseudonym }}" {% endif %}{{ player.lastname }}</a>
				{% if player.unsellable == 1 %}
					<a class="ajaxLink" href="#" title="{{ Message("myteam_unsellable_unmark_tooltip") }}"
								data-ajaxtarget="pagecontent" data-ajaxquerystr="page=myteam&action=unmarkUnsellable&id={{ player.id }}"><i class="icon-eye-close darkIcon"></i></a>
				{% endif %}
				{% if player.lending_fee > 0 and player.lending_owner_id == 0 %}
					<a class="ajaxLink wstooltip" href="#" title="{{ Message("lending_lendable_unmark", player.lending_fee) }}"
								data-ajaxtarget="pagecontent" data-ajaxquerystr="page=myteam&action=unmarkLendable&id={{ player.id }}"><i class="icon-share-alt darkIcon"></i></a>
				{% endif %}
				{% if player.transfermarket %}
					<a class="wstooltip" href="{{ env.getInternalUrl("transfer-bid", "id=" ~ player.id) }}" title="{{ Message("entity_player_transfermarkt") }}"><i class="icon-hand-up darkIcon"></i></a>
				{% endif %}
				{% if player.id == captain_id %}
					<i class="icon-group wstooltip" title="{{ Message("myteam_captain_tooltip") }}"></i>
				{% endif %}
				</p>
				
				{% if player.lending_owner_id == 0 and
					(player.transfermarket == 0 
					or Config("enable_player_resignation") 
					or player.contract_matches <= Config("contract_max_number_of_remaining_matches")) 
					or Config("lending_enabled") == 0
					or player.id != captain_id %}
					<div class="btn-group">
						<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">{{ Message("myteam_action_button") }} <span class="caret"></span></a>
						<ul class="dropdown-menu">
						
							{% if player.unsellable == 0 %}
								{% if Config("transfermarket_enabled") and player.lending_fee == 0 %}
									<li><a href="{{ env.getInternalUrl("sell-player", "id=" ~ player.id) }}"><i class="icon-share"></i> {{ Message("myteam_player_sell") }}</a></li>
								{% endif %}
									<li><a class="ajaxLink" href="#" title="{{ Message("myteam_unsellable_tooltip") }}"
										data-ajaxtarget="pagecontent" data-ajaxquerystr="page=myteam&action=markAsUnsellable&id={{ player.id }}"><i class="icon-eye-close"></i> {{ Message("myteam_unsellable") }}</a></li>
							
								{% if player.transfermarket == 0 and player.lending_fee == 0 and Config("lending_enabled") %}
									<li><a href="{{ env.getInternalUrl("lend-player", "id=" ~ player.id) }}"><i class="icon-share-alt"></i> {{ Message("lending_lend_button") }}</a></li>
								{% endif %}
							
							{% endif %}
							
							{% if player.contract_matches <= Config("contract_max_number_of_remaining_matches") %}
								<li><a href="{{ env.getInternalUrl("extend-contract", "id=" ~ player.id) }}"><i class="icon-briefcase"></i> {{ Message("myteam_player_extend_contract") }}</a></li>
							{% endif %}
							
							{% if player.id != captain_id %}
								<li><a href="{{ env.getInternalActionUrl("select-captain", "id=" ~ player.id) }}"><i class="icon-group"></i> {{ Message("myteam_player_select_as_captain") }}</a></li>
							{% endif %}
							
							{% if Config("enable_player_resignation") %}
								<li><a href="#fire{{ player.id }}Modal" role="button" data-toggle="modal"><i class="icon-remove-circle"></i> {{ Message("fireplayer_button") }}</a></li>
							{% endif %}
						</ul>
					</div>
				
					{% if Config("enable_player_resignation") %}
						<div id="fire{{ player.id }}Modal" class="modal hide fade" tabindex="-1" role="dialog" 
							aria-labelledby="fire{{ player.id }}ModalLabel" aria-hidden="true">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						    <h3 id="fire{{ player.id }}ModalLabel">{{ Message("fireplayer_modal_title" ) }}</h3>
						  </div>
						  <div class="modal-body">
						  	<p>{{ Message("fireplayer_modal_content",player.firstname ~ " " ~ player.lastname) }}</p>
						  	
						  	{% if Config("player_resignation_compensation_matches") > 0 %}
						  		<p>{{ Message("fireplayer_modal_compensation")|format((Config("player_resignation_compensation_matches") * player.contract_salary)|number_format(0, ',', ' '), Config("game_currency"))|raw }}</p>
						  	{% endif %}
						  	
						  </div>
						  <div class="modal-footer">
						  	<a href="{{ env.getInternalActionUrl("fire-player", "id=" ~ player.id) }}" class="btn btn-primary">{{ Message("fireplayer_modal_confirm") }}</a>
						    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ Message("button_cancel") }}</a>
						  </div>
						</div>
					{% endif %}
				{% endif %}

				</td>
				
				{% if Config("hide_strength_attributes") != "1" %}
					<td>
						<ul class="unstyled">
							<li><span class="incell-strength-label"><abbr title="{{ Message("playertable_head_strength") }}">{{ Message("playertable_head_strength_abbr") }}</abbr>:</span> 
								<span {{ playerlists.strengthClass(player.strength) }}>{{ player.strength }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ Message("playertable_head_strength_technic") }}">{{ Message("playertable_head_strength_technic_abbr") }}</abbr>:</span> 
								<span {{ playerlists.strengthClass(player.strength_technic) }}>{{ player.strength_technic }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ Message("playertable_head_strength_freshness") }}">{{ Message("playertable_head_strength_freshness_abbr") }}</abbr>:</span> 
								<span {{ playerlists.strengthClass(player.strength_freshness) }}>{{ player.strength_freshness }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ Message("playertable_head_strength_stamina") }}">{{ Message("playertable_head_strength_stamina_abbr") }}</abbr>:</span> 
								<span {{ playerlists.strengthClass(player.strength_stamina) }}>{{ player.strength_stamina }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ Message("playertable_head_strength_satisfaction") }}">{{ Message("playertable_head_strength_satisfaction_abbr") }}</abbr>:</span> 
								<span {{ playerlists.strengthClass(player.strength_satisfaction) }}>{{ player.strength_satisfaction }}</span></li>
						</ul>
					</td>
				{% endif %}
				
				<td>{{ player.age }}</td>
				<td>{{ player.contract_salary|number_format(0, ',', ' ')  }} {{ Config("game_currency") }}
					{% if player.lending_fee > 0 and player.lending_owner_id > 0 %}
						<br><small>+ {{ Message("entity_player_lending_fee") }}: {{ player.lending_fee|number_format(0, ',', ' ')  }} {{ Config("game_currency") }}</small> 
					{% endif %}
				</td>
				<td>
					{% if player.lending_matches > 0 %}
						<em title="{{ Message("lending_player_marker_tooltip") }}">{{ player.lending_matches }} <i class="icon-star-empty"></i></em>
					{% else %}
						{{ player.contract_matches }}
						{% if player.contract_matches < 10 %}<i class="icon-warning-sign" title="{{ Message("myteam_player_contract_is_ending") }}"></i>{% endif %}
					{% endif %}
				
				</td>
			</tr>
			{% endfor %}
		
		</tbody>
		<tfoot>
			<tr>
				<td colspan="{% if Config("hide_strength_attributes") != "1" %}4{% else %}3{% endif %}"><strong>{{ Message("entity_player_vertrag_gehalt") }}</strong></td>
				<td><strong>{{ salarySum|number_format(0, ',', ' ')  }} {{ Config("game_currency") }}</strong></td>
				<td>&nbsp;</td>
			</tr>
		</tfoot>
	</table>

{% else %}
	<p>{{ Message("no_players_found") }}</p>
{% endif %}

{% endblock %}
