{% extends "base.twig" %}
{% import "macros/messagebox.twig" as messagebox %}
{% import "macros/playerlists.twig" as playerlists %}

{% block page_title %}
{{ Message("nationalmatches_title") }}
{% endblock %}

{% block page_content %}

	<h4>{{ Message("nationalmatches_next_title") }}</h4>
	
	<p><a href="{{ env.getInternalUrl("formation", "nationalteam=1") }}" class="btn btn-small"><i class="icon-sitemap"></i> {{ Message("formation_navlabel") }}</a></p>
	
	<div class="ajaxLoadedBlock" id="nextmatcheslist" 
		data-ajaxblock="national-next-matches" data-ignoreemptymessages="true"></div>
	
	<h4>{{ Message("nationalmatches_results_title") }}</h4>
	
	<div class="ajaxLoadedBlock" id="resultslist" 
		data-ajaxblock="national-match-results" data-ignoreemptymessages="true"></div>

{% endblock %}
