{% extends "base.twig" %}
{% import "macros/formelements.twig" as formelements %}

{% block page_title %}
{{ Message("premium-exchange_navlabel") }}
{% endblock %}

{% block page_content %}

<div class="well">
	<p>{{ Message("premium-exchange_intro") }}</p>
	<p><strong>1 {{ Config("premium_credit_unit") }} = {{ Config("premium_exchangerate_gamecurrency")|number_format(0, ',', ' ') }} {{ Config("game_currency") }}</strong></p>
</div>

<h4>{{ Message("entity_users_premium_balance") }}: {{ env.user.premiumBalance|number_format(0, ',', ' ') }} {{ Config("premium_credit_unit") }}</h4>

<form class="form-horizontal" method="post">

	{{ formelements.textfield('amount', Message('premium-exchange_amount_label'), Request('amount'), true, validationMsg, 'number', Config("premium_credit_unit")) }}

	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{{ Message('button_save') }}</button>
		<a href="{{ env.getInternalUrl("premiumaccount") }}" class="btn">{{ Message('button_cancel') }}</a>
	</div>
	<input type="hidden" name="page" value="premium-exchange"/>
	<input type="hidden" name="validateonly" value="1"/>
	<input type="hidden" name="action" value="exchange-premium"/>
</form>
{% endblock %}