{% extends "base.twig" %}

{% import "macros/paginator.twig" as pagination %}
{% import "macros/playerlists.twig" as playerlists %}
{% import "macros/messagebox.twig" as messagebox %}

{% block page_title %}
{{ Message("transfermarket_title") }}
{% endblock %}

{% block page_content %}

<ul class="nav nav-tabs" id="transferTab">
  <li class="active"><a href="#overview" data-toggle="tab">{{ Message("transfermarket_tab_overview") }}</a></li>
  <li><a href="#mybids" data-toggle="tab"
  	data-ajaxtarget="mybidslist" data-ajaxblock="transfermarket-mybids" class="ajaxLink">{{ Message("transfermarket_tab_mybids") }}</a></li>
  <li><a href="#lasttransfers" data-toggle="tab"
  	data-ajaxtarget="lasttransferslist" data-ajaxblock="transfermarket-lasttransfers" class="ajaxLink">{{ Message("transfermarket_tab_lasttransfers") }}</a></li>
  <li><a href="#mytransfers" data-toggle="tab"
  	data-ajaxtarget="mytransferslist" data-ajaxblock="transfermarket-mytransfers" class="ajaxLink">{{ Message("transfermarket_tab_mytransfers") }}</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="overview">

    <form class="form-inline">
  		<label for="position">{{ Message("transfermarket_filter_by_position") }}</label>
  		<select name="position" id="position">
  			<option></option>
  			<option value="goaly"{% if Request("position") == "goaly" %} selected{% endif %}>{{ Message("option_Torwart") }}</option>
  			<option value="defense"{% if Request("position") == "defense" %} selected{% endif %}>{{ Message("option_Abwehr") }}</option>
  			<option value="midfield"{% if Request("position") == "midfield" %} selected{% endif %}>{{ Message("option_Mittelfeld") }}</option>
  			<option value="striker"{% if Request("position") == "striker" %} selected{% endif %}>{{ Message("option_Sturm") }}</option>
  		</select>
	  	<button type="submit" class="btn btn-primary">{{ Message("button_display") }}</button>
	  	<a href="{{iUrl("transfermarket") }}" class="btn">{{ Message("button_reset") }}</a>

	  	<input type="hidden" name="page" value="transfermarket" />
	</form>

  {% if transferplayers is defined and transferplayers|length > 0 %}

  	<p>{{ Message("transfermarket_playerscount", playerscount) }}</p>

	<table class="table table-striped">
		<thead>
			<tr>
				<th><abbr title="{{ Message("playertable_head_position") }}">{{ Message("playertable_head_position_abbr") }}</abbr></th>
				<th>{{ Message("playertable_head_name") }}</th>

				{% if Config("hide_strength_attributes") != "1" %}
					<th>{{ Message("playertable_head_strength") }}</th>
				{% endif %}

				<th>{{ Message("transfermarket_head_deadline") }}</th>
				<th>{{ Message("entity_player_vertrag_gehalt") }}</th>
				<th>{{ Message("transfermarket_head_highestbid") }}</th>
			</tr>
		</thead>
		<tbody>

	  	{% for player in transferplayers %}
			<tr>
				<td><img src="{{ skin.getImage("icons/playertype_" ~ player.position ~ ".png") }}"
					alt="{{ Message("player_position_" ~ player.position) }}" title="{{ Message("player_position_" ~ player.position) }}" />
					{% if player.position_main|length > 0 %}<abbr title="{{ Message("option_" ~ player.position_main) }}">{{ Message("player_mainposition_" ~ player.position_main) }}</abbr>{% endif %}
					</td>
				<td>
					<p><a href="{{iUrl("player", "id=" ~ player.id) }}">{{ player.firstname }} {{ player.lastname }}</a></p>

					<p><small>{% if player.team_id > 0 %}
						(<a href="{{iUrl("team", "id=" ~ player.team_id) }}">{{ player.team_name }}</a>)
					{% else %}
						{{ Message("transfermarket_without_team") }}
					{% endif %}</small></p>

				</td>

				{% if Config("hide_strength_attributes") != "1" %}
					<td>
						<ul class="unstyled">
							<li><span class="incell-strength-label"><abbr title="{{ Message("playertable_head_strength") }}">{{ Message("playertable_head_strength_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength) }}>{{ player.strength }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ Message("playertable_head_strength_technic") }}">{{ Message("playertable_head_strength_technic_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength_technique) }}>{{ player.strength_technique }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ Message("playertable_head_strength_freshness") }}">{{ Message("playertable_head_strength_freshness_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength_freshness) }}>{{ player.strength_freshness }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ Message("playertable_head_strength_stamina") }}">{{ Message("playertable_head_strength_stamina_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength_stamina) }}>{{ player.strength_stamina }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ Message("playertable_head_strength_satisfaction") }}">{{ Message("playertable_head_strength_satisfaction_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength_satisfaction) }}>{{ player.strength_satisfaction }}</span></li>
						</ul>
					</td>
				{% endif %}

				<td>{{Datetime(player.transfer_deadline) }}</td>
				<td>{{ player.contract_salary|number_format(0, ',', ' ')  }} {{ Config("game_currency") }}</td>
				<td>
				<p>{% if player.highestbid.contract_matches is defined and player.highestbid.contract_matches > 0 %}
					<a href="{{iUrl("transfer-bid", "id=" ~ player.id) }}">{% if player.team_id > 0 %}
					{{ player.highestbid.amount|number_format(0, ',', ' ') }} {{ Config("game_currency") }}
					{% else %}{{ Message("transfer_bid_withoutfee") }}{% endif %}</a>
					<br/><small>(<a href="{{iUrl("user", "id=" ~ player.highestbid.user_id) }}">{{ player.highestbid.user_name }}</a>)</small>
				{% else %}
					{% if player.team_id > 0 %}
					{{ player.min_bid|number_format(0, ',', ' ') }} {{ Config("game_currency") }}<br/>
					<small>({{ Message('transfermarket_min_bid') }})</small>
					{% else %}{{ Message("transfer_bid_withoutfee") }}{% endif %}
				{% endif %}</p>

				{% if env.getUser().getClubId() != player.team_id %}
				<p><a class="btn btn-mini" href="{{iUrl("transfer-bid", "id=" ~ player.id) }}"><i class="icon-hand-up"></i> {{ Message("transfermarket_bid") }}</a></p>
				{% endif %}
				</td>
			</tr>
	  	{% endfor %}

		</tbody>
	</table>

	{{ pagination.paginator(paginator) }}

  {% else %}
  	{{ messagebox.box(Message("transfermarket_no_players"), "", "info") }}
  {% endif %}
  </div>

  <div class="tab-pane" id="mybids">
  	<div id="mybidslist"></div>
  </div>

  <div class="tab-pane" id="lasttransfers">
  	<div id="lasttransferslist"></div>
  </div>

  <div class="tab-pane" id="mytransfers">
  	<div id="mytransferslist"></div>
  </div>
</div>

{% endblock %}