{% extends "base.twig" %}
{% import "macros/profileelements.twig" as profile %}
{% import "macros/messagebox.twig" as messagebox %}
{% import "macros/statisticelements.twig" as statisticelements %}

{% block page_title %}
{{ Message("youth-scouting_navlabel") }}
{% endblock %}

{% block page_content %}

	{% if lastExecutionTimestamp == 0 %}
		{% set lastScouting = Message("youthteam_scouting_lastexecution_never") %}
	{% else %}
		{% set lastScouting =Datetime(lastExecutionTimestamp) %}
	{% endif %}
	{{ profile.infofield(Message("youthteam_scouting_lastexecution"), lastScouting) }}

	{% if not scoutingPossible %}
		<hr>
		{{ messagebox.box(Message("youthteam_scouting_nextpossibleexecution",Datetime(nextPossibleExecutionTimestamp)), "", "warning") }}
	{% else %}

		{% if Request("scoutid") == null %}
			<h3>{{ Message("youthteam_scouting_schoosescout") }}</h3>

			{% if scouts|length == 0 %}
				<p>{{ Message("youthteam_scouting_noscoutavailable") }}</p>
			{% else %}

				<table class="table table-striped">
					<thead>
						<tr>
							<th>{{ Message("entity_youthscout_name") }}</th>
							<th>{{ Message("entity_youthscout_expertise") }}</th>
							<th>{{ Message("entity_youthscout_fee") }}</th>
							<th>{{ Message("entity_youthscout_speciality") }}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{% for scout in scouts %}
						<tr>
							<td>{{ scout.name }}</td>
							<td>{{ statisticelements.progressbar(scout.expertise) }}</td>
							<td>{{ scout.fee|number_format(0, ',', ' ')  }} {{ Config("game_currency") }}</td>
							<td>{% if scout.speciality|length %}{{ Message("option_" ~ scout.speciality) }}{% else %}-{% endif %}</td>
							<td><a href="{{iUrl("youth-scouting", "scoutid=" ~ scout.id) }}" class="btn btn-small"><i class="icon-hand-right"></i> {{ Message("button_choose") }}</a></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

			{% endif %}
		{% else %}
			<h3>{{ Message("youthteam_scouting_schoosecountry") }}</h3>

			{% for country in countries %}
				{% set nationImg = skin.getImage("flags/players/" ~ country ~ ".png") %}
				{% if hasMessage("option_" ~ country) %}
					{% set countryLabel = Message("option_" ~ country) %}
				{% else %}
					{% set countryLabel = country %}
				{% endif %}
				<a href="{{aUrl("scout-youthplayer", "scoutid=" ~ Request("scoutid") ~ "&country=" ~ country) }}" class="btn btn-large btn-block">{% if nationImg %}<img src="{{ nationImg }}" alt="{{ countryLabel }}" /> {% endif %}{{ countryLabel }}</a>
			{% endfor %}

			<p style="margin-top: 10px"><a href="{{iUrl("youth-scouting") }}" class="btn">{{ Message("button_cancel") }}</a></p>

		{% endif %}

	{% endif %}

{% endblock %}