{% extends "base.twig" %}
{% import "macros/formelements.twig" as formelements %}

{% block page_title %}
{{ Message("youthplayer-sell_navlabel") }}
{% endblock %}

{% block page_content %}
<form class="form-horizontal" method="post">

	<fieldset>
		<legend>{{ Message("youthplayer-sell_formlabel") }}</legend>
		{{ formelements.textfield('transfer_fee', Message('entity_youthplayer_transfer_fee'), Request('transfer_fee'), true, validationMsg, 'number') }}
	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{{ Message('button_submit') }}</button>
		<a href="{{ env.getInternalUrl("youth-team") }}" class="btn">{{ Message('button_cancel') }}</a>
	</div>
	<input type="hidden" name="page" value="youthplayer-sell"/>
	<input type="hidden" name="id" value="{{ Request('id') }}"/>
	<input type="hidden" name="action" value="sell-youthplayer"/>
</form>
{% endblock %}