{% extends "base.twig" %}

{% block page_title %}
{{ Message("youthplayer-makeprofessional_navlabel") }}
{% endblock %}

{% block page_content %}
<form class="form-horizontal" method="post">

	<fieldset>
		<legend>{{ Message("youthplayer-makeprofessional_formlabel") }}</legend>

		<p>{{ Message("youthplayer-makeprofessional_form_intro")|raw }}</p>

		<div class="control-group{% if validationMsg['mainposition'] is defined %} error{% endif %}">
			<label class="control-label" for="mainposition">
				<strong>{{ Message("entity_player_position_main") }}</strong>
			</label>
			<div class="controls">
		  		<select name="mainposition" id="mainposition">
		  			<option></option>

		  			{% if player.position == "Torwart" %}
		  				<option value="T" selected>{{ Message("option_T") }}</option>
		  			{% elseif player.position == "Abwehr" %}
		  				<option value="LV">{{ Message("option_LV") }}</option>
		  				<option value="IV">{{ Message("option_IV") }}</option>
		  				<option value="RV">{{ Message("option_RV") }}</option>
		  			{% elseif player.position == "Mittelfeld" %}
		  				<option value="LM">{{ Message("option_LM") }}</option>
		  				<option value="ZM">{{ Message("option_ZM") }}</option>
		  				<option value="RM">{{ Message("option_RM") }}</option>
		  				<option value="DM">{{ Message("option_DM") }}</option>
		  				<option value="OM">{{ Message("option_OM") }}</option>
		  			{% else %}
		  				<option value="LS">{{ Message("option_LS") }}</option>
		  				<option value="MS">{{ Message("option_MS") }}</option>
		  				<option value="RS">{{ Message("option_RS") }}</option>
		  			{% endif %}
		  		</select>
			</div>
		</div>

	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{{ Message('button_submit') }}</button>
		<a href="{{ env.getInternalUrl("youth-team") }}" class="btn">{{ Message('button_cancel') }}</a>
	</div>
	<input type="hidden" name="page" value="youthplayer-makeprofessional"/>
	<input type="hidden" name="id" value="{{ Request('id') }}"/>
	<input type="hidden" name="action" value="move-youthplayer-to-professional"/>
</form>
{% endblock %}